# Python 编译缓存
__pycache__/
*.pyc
*.pyo

# 日志
*.log

# Excel
*.xlsx
*.xls

# Word
*.docx
*.doc

# Office 临时文件
~$*

# Codex
.codex/

# data
权属数据/

# 项目规划
.\0.经济分析表结构分析.md
.\1.集团经济分析自动化需求分析.md
.\2.功能点拆分.md
.\3.后续改进.md